.not-supported-browser-msg {
  display: none;
}

/* IF BROWSER IS NOT SUPPORTED */
.not-supported-browser {
  .not-supported-browser-msg {
    display: block;
  }

  #container {
    display: none;
  }

  #unsupportedFeatures{
    text-align: center;
    font-size: 120%;
    color: #f00;
    margin-bottom: 30px;
  }
}